form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  margin: 0 auto; 
}
label,
select,
input,
button {
  margin: 10px 0;
}
button {
  padding: 10px;
  background-color: gray;
  color: black;
  border: 3px solid black;
  border-radius: 4px;
  cursor: pointer;
  
}

h1{
  text-align: center;
}